body {
    color: #333333;
    font-family: Roboto;
    font-size: 11pt;
    padding: 0;
    margin: 0;
    background-color: #dddddd;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* ----------- HEADER ----------- */
.header {
    background: white;
    padding: 25px 0 25px 0;
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

    .header .container {
        display: flex;
        align-items: center;
        vertical-align: middle;
    }

    .header #logo {
        float: left;
        padding-right: 50px;
    }

    .header nav {
        float: left;
    }

    .header #normalview a {
        color: #333333;
        text-decoration: none;
    }

        .header #normalview a:hover {
            color: #ec2633;
        }

    .header ul {
        margin: 0;
        padding: 0;
    }

    .header li {
        display: inline;
        padding-right: 40px;
    }

    .header #user {
        margin-left: auto;
    }

.button1 {
    padding: 7px 14px;
    background-color: #265BA9;
    border: #265BA9 1pt solid;
    width: 120px;
    border-radius: 5px 0 0 5px;
    color: white;
    font-size: 11pt;
    text-decoration: none;
    font-family: Roboto;
}

    .button1:hover {
        cursor: pointer;
    }

.button2 {
    padding: 7px 14px;
    background-color: white;
    border: #265BA9 1pt solid;
    width: 120px;
    border-radius: 0 5px 5px 0;
    color: #265BA9;
    font-size: 11pt;
    text-decoration: none;
    font-family: Roboto;
}

    .button2:hover {
        cursor: pointer;
    }

.button3 {
    padding: 8px 20px 8px 20px;
    background-color: #ec2633;
    border: #ec2633 1pt solid;
    border-radius: 5px;
    color: white;
    font-size: 11pt;
    text-decoration: none;
    font-family: Roboto;
}

    .button3:hover {
        cursor: pointer;
    }

.button4 {
    padding: 8px 20px 8px 20px;
    background-color: white;
    border: #ec2633 1pt solid;
    border-radius: 5px;
    color: #ec2633;
    font-size: 11pt;
    text-decoration: none;
    width: 100%;
    font-family: Roboto;
}

    .button4:hover {
        cursor: pointer;
    }

.title3 {
    font-size: 20pt;
    padding-bottom: 20px;
}
/* --- */

#content-1 {
    padding: 70px 0 70px 0;
    background-color: #eeeeee;
    text-align: center;
}

    #content-1 .container {
        padding-top: 60px;
    }

    #content-1 a,
    #content-1 a:visited,
    #content-1 a:active {
        color: #265BA9;
        text-decoration: none;
    }

        #content-1 a:hover {
            color: #333333;
            text-decoration: none;
        }

/* ----- */
#content-main {
    padding: 50px 0 30px 0;
    background-color: white;
}

    #content-main .container {
        padding-top: 60px;
        min-height: 424px;
    }

    #content-main table td {
        padding-bottom: 20px;
    }

    #content-main .textbox {
        width: 300px;
    }

    #content-main .textbox2 {
        width: 100px;
    }

    #content-main .error {
        display: block;
        text-align: left;
        font-style: italic;
        color: #999999;
        font-size: 10pt;
    }

    #content-main table a,
    #content-main table a:visited,
    #content-main table a:active {
        color: #333333;
    }

        #content-main table a:hover {
            color: #ec2633;
            text-decoration: none;
        }
/* ----- */

#content-3 {
    background-color: white;
}

    #content-3 .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 0 60px 0;
    }

    #content-3 .box {
        width: 25%;
        text-align: center;
    }

    #content-3 a,
    #content-3 a:visited,
    #content-3 a:active {
        color: #265BA9;
        text-decoration: none;
    }

        #content-3 a:hover {
            color: #333333;
            text-decoration: none;
        }

/* --- */
#loginform .container {
    padding-top: 60px;
    width: 100%;
    min-height: 504px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 30px;
}

#loginform .box {
    width: 35%;
}

#loginform .textbox {
    width: 96%;
}

#loginform .button3,
#loginform .container .box .button4 {
    width: 100%;
    margin-top: 15px;
}

#loginform .title {
    text-align: center;
    padding-top: unset;
    padding-bottom: 10px;
}

#loginform .error {
    display: block;
    text-align: right;
    font-style: italic;
    color: #999999;
    font-size: 10pt;
}

#loginform a,
#loginform a:visited,
#loginform a:active {
    color: #265BA9;
    text-decoration: none;
}

    #loginform a:hover {
        color: #333333;
        text-decoration: none;
    }

/* --- */
#signupform .container {
    width: 100%;
    min-height: 500px;
    padding-top: 130px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 30px;
}

#signupform .title {
    text-align: center;
    padding-top: unset;
    padding-bottom: 10px;
}

#signupform .box {
    width: 35%;
    padding: 20px 0 20px 0;
}

#signupform .box2 {
    width: 20%;
    padding: 20px 0 20px 0;
}

#signupform .boxtitle {
    width: 90%;
    padding: 0;
    font-size: 16pt;
}

#signupform .break {
    width: 100%;
    padding: 0;
}

#signupform form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#signupform .textbox {
    width: 96%;
}

#signupform .box .button3 {
    margin-top: 10px;
}

#signupform .compulsory {
    color: red;
}

#signupform .error {
    display: block;
    text-align: right;
    font-style: italic;
    color: #999999;
    font-size: 10pt;
}

#signupform a,
#signupform a:visited,
#signupform a:active {
    color: #265BA9;
    text-decoration: none;
}

    #signupform a:hover {
        color: #333333;
        text-decoration: none;
    }

/*---*/
.textbox,
.textbox2 {
    font-family: Roboto;
    padding: 7px;
    background-color: white;
    border: #d1d2d4 1pt solid;
    width: 100%;
    border-radius: 5px;
    color: black;
    font-size: 11pt;
}

.textbox-search {
    font-family: Roboto;
    padding: 7px;
    background-color: white;
    border: #d1d2d4 1pt solid;
    width: 200px;
    border-radius: 5px;
    color: black;
    font-size: 11pt;
}

/* ----- */
#content-main .container .table-list {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

    #content-main .container .table-list td {
        padding: 20px;
    }

    #content-main .container .table-list th {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 20px;
        text-align: center;
        font-weight: 500;
    }

    #content-main .container .table-list tr:hover {
        background-color: #e7e7e7;
    }

    #content-main .container .table-list tr:first-child:hover {
        background-color: white;
    }

.rotate-text {
    transform: rotate(-90deg);
    color: white;
    font-weight: bold;
    width: 60px;
    vertical-align: middle;
    text-align: left;
    padding: 0;
}

.content-receipt1 {
    background-color: #265BA9;
    width: 60px;
}

.content-receipt2 {
    background-color: #f9f9f9;
    padding: 30px 50px 50px 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    vertical-align: top;
}

.content-receipt3 {
    width: 200px;
    background-color: #eeeeee;
    padding: 20px;
    text-align: center;
}

.content-receipt4 {
    width: 220px;
    height: 150px;
    padding: 35px 0 35px 0;
    background-color: #ec2633;
    text-align: center;
}

.small-text {
    margin-bottom: 6px;
    color: #666666;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
}

.smaller-text {
    text-align: center;
    padding-top: 25px;
    font-size: 11px;
    color: #333333;
}

/* --- */
.paged-list {
    display: inline;
}

.button-list {
    background: url(~/Images/multiply.png) no-repeat top left;
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
}

.sort-dropdown {
    padding: 7px;
    background-color: white;
    border: #d1d2d4 1pt solid;
    width: 150px;
    margin-right: 10px;
    border-radius: 5px;
    color: #333333;
    font-size: 11pt;
    font-family: 'Rubik', sans-serif;
}